<nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
    <div class="container">
        <a class="navbar-brand" href="home.html">
            <img src="/images/SearchLogo2.png" style="height: 72px;">
        </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/vagas">Vagas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/candidato/cadastrar">Criar conta</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-bar-btn nav-link" type="button" style="color: #cb6ce6;" href="/login">Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>