<nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/SearchLogo2.png" style="height: 72px;">
        </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <% if (usuario== undefined) { %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/vagas">Vagas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/candidato/cadastrar">Criar conta</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-rounded btn-pink nav-link" type="button" style="color: #cb6ce6;" href="/entrar">Entrar</a>
                </li>
            </ul>
            <% } %>
            <% if (usuario != undefined)  { %>
                <% if (usuario.tipo == 'admin')  { %>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/vagas">Vagas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/gerenciar-vagas">Gerenciar vagas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/gerenciar-empresas">Gerenciar empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-rounded btn-pink nav-link" type="button" style="color: #cb6ce6;" href="admin/sair">Sair</a>
                        </li>
                    </ul>
                <% } %>
                <% if (usuario.tipo != 'admin')  { %>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/vagas">Vagas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/candidato/curriculo">Curriculo</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-rounded btn-pink nav-link" type="button" style="color: #cb6ce6;" href="/sair">Sair</a>
                        </li>
                    </ul>
                <% } %>
            
            <% } %>

        </div>
    </div>
</nav>