<!DOCTYPE html>
<html>

    <%- include('comum/head', {tituloPagina}) %>

    <body>
        <%- include('comum/navbar') %>
        <div class="footer-basic" style="background-color: #ffffff;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center d-flex d-xl-flex justify-content-center justify-content-xl-center"><img class="img-fluid" src="/images/minibus.jpeg"></div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h2>Nome do individuo</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <h4>Dados Pessoais edit&nbsp;</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div><label>Estado civil</label>
                                        <p>Paragraph</p>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div><label>Data de nascimento</label>
                                        <p>Paragraph</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <h4>Informações de contato edit&nbsp;<br></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div><label>Email</label>
                                        <p>luccasrobert@hotmail.com</p>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div><label>Celular</label>
                                        <p>(11) 9 8016-5445</p>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div><label>Telefone</label>
                                        <p>(11) 3972-5656</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <h4>Endereço edit&nbsp;</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-2">
                                <div><label>CEP</label>
                                    <p>02814-240</p>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div><label>Logradouro</label>
                                    <p>Rua elisio texeira leite</p>
                                </div>
                            </div>
                            <div class="col-xl-1">
                                <div><label>Numero</label>
                                    <p>9999999</p>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div><label>Cidade</label>
                                    <p>São Jose do rio preto</p>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div><label>Bairro</label>
                                    <p>São Jose do rio preto</p>
                                </div>
                            </div>
                            <div class="col-xl-1">
                                <div><label>UF</label>
                                    <p>SP</p>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div><label>Complemento</label>
                                    <p>adasjdljasldjalsdjlaj jldjaldjlasjdasjdlaksjdladlajsdljasdlaj ldjlasjdlasjdlasdj</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <h4>Experiencias edit&nbsp;</h4>
                            </div>
                            <div class="col">
                                <p>Cargo, empresa - Data inicio até data final(momento)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <h4>Formação academica&nbsp;edit<br></h4>
                            </div>
                            <div class="col-xl-12">
                                <p>Curso, instituição - 02/2018</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <h4>Idiomas edit</h4>
                            </div>
                            <div class="col-xl-12">
                                <p>Idioma - nivel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p class="copyright">SEARCH HEADHUNTER © 2010</p>
            </footer>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/smart-forms.min.js"></script>
        <script src="/js/script.min.js"></script>
    </body>

</html>