<!DOCTYPE html>
<html>

    <%- include('comum/head', {tituloPagina}) %>

<body>
    <div class="projects-clean">
        <%- include('comum/navbar') %>
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="height: 59px;width: 501px;padding: 15px;">Empresas +</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 text-center d-block justify-content-xl-center align-items-xl-center"><img><br>
                <h3>DANONE</h3>
                <img class="img-fluid" src="/images/DANONE_LOGO.png" style="width: 338px;">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" type="button">Editar</button>
                    <button class="btn btn-primary" type="button">Excluir</button>
                    <button class="btn btn-primary" type="button">Vagas</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('comum/footer') %>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/smart-forms.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>