<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Documento de Luccas</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="home.html">&nbsp;<img src="images/SearchLogo2.png" style="height: 72px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form><a class="text-dark ml-auto" href="Vagas.html" style="color: rgb(0,0,0);font-size: 17px;font-family: Lora, serif;width: 82px;">Vagas</a><a href="Cadastro.html" style="width: 89px;color: rgb(0,0,0);">Cadastro</a><button class="btn active action-button"
                    type="button" style="color: #cb6ce6;">Login</button></div>
        </div>
    </nav>
    <div class="highlight-blue" style="background-color: #cb6ce6;background-position: center;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">AlphaQuest Game Studio</h2>
                <p class="text-center">Desenvolvedor(a) Unity C#<br></p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Android</a><a class="btn btn-primary" role="button" href="#">Git</a><a class="btn btn-primary" role="button" href="#">Unity</a><a class="btn btn-primary" role="button" href="#">C#</a></div>
        </div>
    </div>
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center"></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1">
                    <h3><strong>Descrição&nbsp;empresa</strong><br></h3>
                    <div class="toc">
                        <p></p>
                        <ul>
                            <li><a href="#">Empresa pequeno porte</a> </li>
                            <li>Nacionalidade Brasileira&nbsp;</li>
                            <li>Ramo Tecnológico&nbsp;<br></li>
                            <li>Com sua sede no Brasil</li>
                        </ul>
                    </div><a class="btn btn-link active text-white" role="button" style="background-color: #cb6ce6;width: 112px;height: 43px;margin: 69px;">Candidatar<br></a></div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <div class="text">
                        <h2>Descrição da empresa<br></h2>
                        <p>Trabalhamos desenvolvendo jogos digitais desde 2015.<br>Nosso foco é no mercado mobile Android e iOS e Temos atualmente 3 projetos publicados.<br></p>
                        <h2>Atividades e Responsabilidades<br></h2>
                        <p>Desenvolvimento de jogos digitais para Unity Android/iOS. <br>Exportação de projeto para xcode, ou android .apk.<br>Manutenção de projetos já existentes:<br>- Correções de bugs.<br>- Novos recursos.<br>- Novas mecânicas.<br>Gerenciamento
                            de versão (Git)<br></p>
                        <h2>Requisitos</h2>
                        <p>***VAGA PARA TRABALHAR PRESENCIALMENTE***<br>Experiência em Unity3D e nas suas ferramentas. <br>Conhecimento avançado em programação C#. <br>Conhecimento em desenvolvimento Android ou iOS.<br>Conhecimento em gerenciamento de versão
                            (Git).<br></p>
                        <figure class="figure"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="brands"></div>
    <div></div>
    <div class="map-clean"><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=faculdade+impacta&amp;zoom=15" width="100%" height="450"></iframe></div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">SEARCH HEADHUNTER&nbsp;© 2010</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/smart-forms.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>