body {
    font-family: 'Montserrat', sans-serif;
}

.centralize {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    max-height: 200px;
}

.pointer {
    cursor: pointer;
}

.invalido{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.btn-pink{
    background: #cb6ce6;
    font-size: inherit;
    color: #fff !important;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 8px 20px;
    transition: background-color .25s;
}

.btn-rounded{
    border-radius: 20px;
}
.curriculo-img{
    object-fit: fill;
    width: 150px;
    height: 150px;
    max-height: 250px;
    border: solid 1px white;
    border-radius: 8px;
}