<div class="modal modal-criar-idioma" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar nova idioma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="descricao">Idioma</label>
                                <input type="text" class="form-control descricao" name="descricao">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="nivel">Nivel</label>
                                <select class="custom-select nivel" name="nivel" id="nivel">
                                    <option selected disabled>Selecione uma opção</option>
                                    <option value="basico">basico</option>
                                    <option value="Intermediario">Intermediario</option>
                                    <option value="Avançado">Avançado</option>
                                    <option value="Fluente/nativo">Fluente/nativo</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary salvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>