<div class="modal modal-criar-curso" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar nova formação academica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="nome">Curso</label>
                                <input type="text" class="form-control nome" name="nome">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="instituicao">Instituição</label>
                                <input type="text" class="form-control instituicao" name="instituicao">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="data-formacao">Data de conclusão</label>
                                <input type="date" class="form-control data-formacao" name="data_formacao">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary salvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>